.section {
  background-color: #EAEBEE;
  opacity: 0.94;
  display: block;
  min-width: max-content;
  width: 80%;
  max-width: 1000px;
  margin-top: 5%;
  margin-left: 2%;
  box-shadow: 6px 6px 20px 0px #000;
  font-family: arial;
  border-radius: 9px;
}
.section form {
  margin: 5%;
}
.section figure{
  margin-left: 20px;
}
.section img{

  box-shadow: 6px 9px 40px 0px #023;
}
.section label{
  margin-top: 2%;
  margin-left: 5%;
}
.section input{
  margin-top: 3%;
  position: relative;
  padding-left: 3%;
  margin-left: 10%;
}
.section textarea{
  margin-top: 3%;
  position: relative;
  padding-left: 20%;
  margin-left: 10%;
}
.section input[type=submit] {
    padding:9px 21px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.greska{
  color: red;
}
.ispravno{
  color:#1E1614;
}

.edit{
  border-color: blue;
  margin:0px;
  padding: 0px;
  border: 0px;
}

@media screen and (max-width: 600px) {
  .section{
    font-size: smaller;
    display: inline-block;
    padding: 5%;
  }
  .section input[type=submit] {
    background:#ccc;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .section form {
    margin: 5%;
  }
  .section figure{
    margin-left: 20px;
  }
  .section img{
    width: 120px;
    box-shadow: 6px 9px 40px 0px #023;
  }
  .section label{
    margin-top: 2%;
    margin-left: 5%;
  }
}
